.app_container {
  display: flex;
}
.app_forms_container {
  text-align: center;
  width: 50vw;
}
.app_information_to_show_container {
  text-align: center;
  width: 50vw;
}

.app_countdown_form,
.app_time_markers_form {
  margin: 20px;
}
