<div class="app_container">
    <div class="app_forms_container">
        <div class="app_countdown_form">
            <h1>Countdown time</h1>
            <app-create-countdown (formValue)="reciveFormValue($event)"></app-create-countdown>
        </div>
        <div class="app_time_markers_form">
            <h2>Time markers</h2>
            <app-create-time-stamp-form (formValue)="handleTimeStamp($event)"></app-create-time-stamp-form>
        </div>
    </div>
    
    <div class="app_information_to_show_container">
        <div class="app_countdown_widget" *ngIf="showTimer">
            <app-countdown-widget [endDate]="endDate" [timeMarkers]="markers" (endReached)="endReached('End reached!')" (timeMarkerReached)="isReached($event)">
            </app-countdown-widget>
        </div>
    
        <h2 class="app_end_message" *ngIf="endMessage">
            {{endMessage}}
        </h2>
        <h3 class="time_markers_container" *ngFor="let marker of markers">Marker at: {{marker.date}} Reached: {{marker.reached}}</h3>
    </div>
</div>