<form [formGroup]="myForm" (submit)="sendFormValue()">
    <div class="countdown_form_container">

        <mat-form-field>
            <input matInput placeholder="hours"  formControlName="hours">
            <mat-error *ngIf= "hours.invalid && hours.touched">
                Hours must be number bigger then [0]
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="minutes" formControlName="minutes">
            <mat-error *ngIf= "minutes.invalid && minutes.touched">
                Minutes must be number between [0-60]
            </mat-error>
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="seconds" formControlName="seconds">
            <mat-error *ngIf= "seconds.invalid && seconds.touched">
                Seconds must be number between [0-60]
            </mat-error>
        </mat-form-field>

        <button mat-stroked-button [disabled]="myForm.invalid || (!myForm.value.hours && !myForm.value.minutes && !myForm.value.seconds)"  type="submit">Submit timer</button>
    </div>
</form>
